* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #000000;
}

h1, h2 {
    color: #ffcc00;
}

/* Navbar (se necessário) */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;
    color: #fff;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Seção Principal */
section {
    padding: 60px 20px;
    text-align: center;
}

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.task-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.task-item:hover {
    transform: translateY(-5px);
}

.task-item input[type="checkbox"] {
    margin-right: 10px;
}

.task-time {
    margin-top: 10px;
}

/* Botão de Envio */
button {
    background-color: #ffd700;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #daa520;
}

/* Footer (se necessário) */
footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
